#  Python
__pycache__/
*.pyc
*.pyo
*.pyd

#  Environnement virtuel
venv/
.env/
.venv/

#  Variables sensibles
.env
.env.*

#  Data files (IMPORTANT)
#  ignorer seulement les outputs
output/
output/*.csv

#  ignorer DB
*.sqlite
*.db

#  autoriser les CSV dans data/
!data/
!data/*.csv

#  Jupyter
.ipynb_checkpoints/

#  VS Code
.vscode/

#  Logs
*.log

#  OS
.DS_Store
Thumbs.db